{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}

    <div class="container">
        <div class="position-absolute bottom-50 end-50">
            <div class="col-5">
                <h5>Game over!</h5>
                <h5>
                    <a href="/" class="badge bg-primary">Try again?</a>
                </h5>
            </div>
        </div>
    </div>

{% endblock %}