.table-responsive {
    caret-color: transparent;
    table-layout: auto;
    overflow: hidden;
}

.table-responsive th {
    padding: .2em;
    width: 4em;
    height: 4em;
}

.table-responsive td {
    border: 2px solid black;
    width: 4em;
    height: 4em;
}

.white-cell {
    width: 4em;
    height: 4em;
    background: rgb(243, 236, 236);
}

.black-cell {
    width: 4em;
    height: 4em;
    background: rgb(114, 112, 112);
}

.table-responsive td:hover {
    opacity: 0.8;
}

.selected {
    border: 2px solid red;
}

/*king*/
.black-king {
    transform: rotate(90deg);
}

.black-king::before {
    content: "\265A";
    font-size: 3em;
}

.white-king {
    transform: rotate(90deg);
}

.white-king::before {
    content: "\2654";
    font-size: 3em;
}

/*queen*/
.black-queen {
    transform: rotate(90deg);
}

.black-queen::before {
    content: "\265B";
    font-size: 3em;
}

.white-queen {
    transform: rotate(90deg);
}

.white-queen::before {
    content: "\2655";
    font-size: 3em;
}

/*bishop*/
.black-bishop {
    transform: rotate(90deg);
}

.black-bishop::before {
    content: "\265D";
    font-size: 3em;
}

.white-bishop {
    transform: rotate(90deg);
}

.white-bishop::before {
    content: "\2657";
    font-size: 3em;
}

/*rook*/
.black-rook {
    transform: rotate(90deg);
}

.black-rook::before {
    content: "\265C";
    font-size: 3em;
}

.white-rook {
    transform: rotate(90deg);
}

.white-rook::before {
    content: "\2656";
    font-size: 3em;
}

/*knight*/
.black-knight {
    transform: rotate(90deg);
}

.black-knight::before {
    content: "\265E";
    font-size: 3em;
}

.white-knight {
    transform: rotate(90deg);
}

.white-knight::before {
    content: "\2658";
    font-size: 3em;
}

/*pawn*/
.black-pawn {
    transform: rotate(90deg);
}

.black-pawn::before {
    content: "\265F";
    font-size: 3em;
}

.white-pawn {
    transform: rotate(90deg);
}

.white-pawn::before {
    content: "\2659";
    font-size: 3em;
}